// Tailwind-related
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-gray-300);
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  font-family: var(--font-geist-sans);
}

:placeholder-shown {
  color: var(--color-placeholder);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

