// Tailwind-related
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-gray-300);
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  @apply font-sans;
}

:placeholder-shown {
  color: var(--color-placeholder);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

input {
  width: 100%;
  padding: var(--spacing-md, 0.5rem) var(--spacing-lg, 0.75rem);
  border-radius: var(--radius-md, 0.5rem);
  @apply bg-white border;

  &.is-error {
    @apply border-error-300;
  }
}
