:root {
  --color-primary: #7f56d9;
  --color-border: #d0d5dd;

  --spacing-xs: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;

  --radius-md: 0.5rem;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
}
