.p-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-md, 0.5rem);
  font-weight: 500;
  cursor: pointer;

  background-color: white;
  color: var(--color-gray-800);

  &:hover:not(:disabled) {
    background-color: var(--color-gray-50);
  }

  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
    outline-color: var(--color-primary);
  }

  &:disabled {
    border-color: var(--color-gray-200);
    color: var(--color-gray-400);
    cursor: not-allowed;
  }

  // Variant
  &--primary {
    background-color: var(--color-primary);
    color: white;
    border-color: transparent;

    &:hover:not(:disabled) {
      background-color: var(--color-primary-700);
    }
  }

  &--error {
    background-color: var(--color-error);
    color: white;
    border-color: transparent;

    &:hover:not(:disabled) {
      background-color: var(--color-error-700);
    }

    &:focus {
      outline-color: var(--color-error-500);
    }
  }

  &--primary,
  &--error {
    &:disabled {
      background-color: var(--color-gray-100);
      border-color: var(--color-gray-200);
    }
  }

  // Sizes
  &--sm,
  &--md {
    gap: var(--spacing-xs);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &--sm {
    padding: var(--spacing-md) var(--spacing-lg);
  }

  &--md {
    padding: var(--spacing-md-plus) var(--spacing-lg-plus);
  }

  &--lg {
    padding: var(--spacing-md-plus) var(--spacing-xl);
    gap: var(--spacing-sm);
    line-height: var(--line-height-md);
  }

  &--xl {
    padding: var(--spacing-lg) var(--spacing-xl-plus);
    gap: var(--spacing-md-plus);
    line-height: var(--line-height-lg);
  }
}
