.p-button {
  // Default
  --p-button-bg-color: white;
  --p-button-fg-color: #182230;
  --p-button-border-color: #d0d5dd;
  --p-button-hover-bg-color: #f9fafb;
  --p-button-focus-ring-color: #7f56d9;
  --p-button-disabled-border-color: #e4e7ec;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: var(--radius-md, 0.5rem);
  font-weight: 500;
  cursor: pointer;

  background-color: var(--p-button-bg-color);
  color: var(--p-button-fg-color);
  border-color: var(--p-button-border-color);

  &:hover:not(:disabled) {
    background-color: var(--p-button-hover-bg-color);
  }

  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
    outline-color: var(--p-button-focus-ring-color);
  }

  &:disabled {
    border-color: var(--p-button-disabled-border-color);
    color: var(--color-text-disabled, #98a2b3);
    cursor: not-allowed;
  }

  // Variant
  &--primary {
    --p-button-bg-color: var(--color-primary, #7f56d9);
    --p-button-fg-color: white;
    --p-button-border-color: transparent;

    &:hover {
      --p-button-hover-bg-color: #6941c6;
    }
  }

  &--error {
    --p-button-bg-color: var(--color-error, #d92d20);
    --p-button-fg-color: white;
    --p-button-border-color: transparent;

    &:hover {
      --p-button-hover-bg-color: #b42318;
    }

    &:focus {
      --p-button-focus-ring-color: #f04438;
    }
  }

  &--primary,
  &--error {
    &:disabled {
      background-color: var(--color-bg-disabled, #f2f4f7);
      border-color: var(--color-border-disabled, #e4e7ec);
    }
  }

  // Sizes
  &--sm,
  &--md {
    gap: var(--spacing-xs, 0.25rem);
    font-size: var(--font-size-sm, 0.875rem);
    line-height: var(--line-height-sm, 1.25);
  }

  &--sm {
    padding: var(--spacing-md, 0.5rem) var(--spacing-lg, 0.75rem);
  }

  &--md {
    padding: var(--spacing-md-plus, 0.625rem) var(--spacing-lg-plus, 0.875rem);
  }

  &--lg {
    padding: var(--spacing-md-plus, 0.625rem) var(--spacing-xl, 1rem);
    gap: var(--spacing-sm, 0.375rem);
    line-height: var(--line-height-md, 1.5);
  }

  &--xl {
    padding: var(--spacing-lg, 0.75rem) var(--spacing-xl-plus, 1.125rem);
    gap: var(--spacing-md-plus, 0.625rem);
    line-height: var(--line-height-lg, 1.75);
  }
}
