.p-form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  &__label {
    display: inline-block;
    width: fit-content;
    color: var(--color-gray-700);
    font-weight: 500;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &__description {
    color: var(--color-gray-600);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);

    &.is-error {
      color: var(--color-error);
    }
  }

  a {
    display: inline-block;
    line-height: var(--line-height-sm);
  }
}
